<h3>TodoList</h3>

<body>
    
    
    <% today = Date.today%>
<table>
  <caption><%= today.strftime('%Y年%m月')%></caption>
  <tr>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
    <th>日</th>
  </tr>
  <tr>
<% month = today.strftime('%m')%>
<% d = today.at_beginning_of_month.at_beginning_of_week%>
<% 1.upto(5).each do|i|%>
  <tr>
<% (d..d.end_of_week).each do|c|%>
    <th><%= (c.strftime('%m') == month)? c.strftime('%d'): "  "%></th>
<% end %>
  </tr>
<% d = d + 1.week %>
<% end %>
</table>
    
    
    <div>From Teacher</div>
    
    <% @user = User.find_by(id: session[:user_id]) %>

    <% @user.todos_universal.each do |todo| %>
    
        <%= todo.deadline %>
        
        <li><b><%= link_to(todo.content, "/users/todos/#{todo.id}") %></b></li>
    
    <% end %>
    
    </br>
    
    <% if session[:user_id] == 1 %>
    
    <% else %>
    
        <div>Yours</div>
    
            <% @user.todos.each do |todo| %>
            
            <%= todo.deadline %>
    
            <li><%= link_to(todo.content, "/users/todos/#{todo.id}") %></li>
        
        <% end %>
        
    <% end %>
    
    </br>
    
    <% if session[:user_id] == 1 %>
    
        <div>Universal Todo</div>
    
        <%= form_tag("/users/todos/create_universal") do %>
            <input name="deadline">
            <input name="deadline">
            </br>
            <input name="title">
            <input name="title">
            </br>
            <div>Content</div>
            <textarea name="content"></textarea>
            <input type="submit" value="confirm">
        <% end %>
        
    <% else %>
    
        <div>Add New Todo</div>
    
        <%= form_tag("/users/todos/create") do %>
            <div>Deadline</div>
            <input name="deadline">
            </br>
            <div>Titile</div>
            <input name="title">
            </br>
            <div>Content</div>
            <textarea name="content"></textarea>
            <input type="submit" value="confirm">
        <% end %>
    
    <% end %>
    
</body>

